body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000; 
    margin-top: 5%;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 100px));
    grid-gap: 10px;
    margin: 20px auto;
}

.cell {
    width: 100%;
    height: 82px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    cursor: pointer;
    border: 2px solid #b4b2b2;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: relative;
    overflow: hidden;
    color: wheat;
}

.cell span {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.cell.clicked span {
    opacity: 1;
    transform: scale(1);
}


#restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    margin-top: 15%;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    text-align: center;
    border-radius: 10px;
    margin-top: 5%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@keyframes sprinkle {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    20% {
        transform: translateY(-30px) rotate(60deg);
        opacity: 0.8;
    }
    40% {
        transform: translateY(-60px) rotate(120deg);
        opacity: 0.6;
    }
    60% {
        transform: translateY(-90px) rotate(180deg);
        opacity: 0.4;
    }
    80% {
        transform: translateY(-120px) rotate(240deg);
        opacity: 0.2;
    }
    100% {
        transform: translateY(-150px) rotate(300deg);
        opacity: 0;
    }
}


.sprinkles {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ffcc00;
    border-radius: 50%;
    animation: sprinkle 1s ease-out infinite; 
}

#myAudio, #winner_audio, #draw{
    visibility: hidden;
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}